<aside class="main-sidebar" (mouseenter)="onMainSidebarMouseEnter()" (mouseleave)="onMainSidebarMouseLeave()">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">

        <!-- develop tmp -->
        <!--<li class="active treeview">
           <a href="javascript:void(0);" (click)="onSidebarTreeClick($event)">
            <i class="fa fa-pie-chart"></i>
            <span>Configurations</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0);" (click)="onSidebarRouteMenuClick($event)"><i class="fa fa-circle-o"></i> User</a></li>
          </ul>
        </li>-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
